*.fna
*.fna.gz
*.contig
#*.fasta
*.fasta.gz
*.gbff
*.gbff.gz
*~
*.zip

datasets
fastq-dump

*/ncbi_dataset

hybracter_install_intermediate_files
processing
supplementary_results
benchmarks
supplementary_results
.snakemake

md5sum.txt

*.vcf
*.bcf

*.bam
*.bai
*.sam

*/*.jsonl
*.dmanifest
*/md5sum.txt

*.fastq
*.fastq.gz
*.fq
*.fq.gz
#*.gfa
*.db


*quast_results/latest

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

checkm_out